<!--
    host : '/add/confirm'
    tatle : mongodb에서 데이터를 불러와 예약확인하기 페이지
-->


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>병원예약 플렛폼</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="https://github.com/mijin0721/hospital_reservation_Web/blob/master/image/%EB%A1%9C%EA%B3%A0.png?raw=true" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            병원예약 플렛폼
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/hospital">병원찾기</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reservation">예약하기</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/confirm">예약확인하기</a>
              </li>
            </ul>
            <div class="text-end">
              <button type="button" class="btn btn-light text-dark me-2" onclick="location.href='/login' ">로그인</button>
              <button type="button" class="btn btn-light text-dark me-2" onclick="location.href='/signup' ">회원가입</button>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>

      <img src="https://github.com/mijin0721/hospital_reservation_Web/blob/master/image/%EB%B0%B0%EB%84%88.jpg?raw=true" class="d-block w-100" alt="...">
      
      <div class="container py-5 text-center">
        <h4>예약 확인하기</h4>
      </div>

      <div class="container col-xl-3 col-xxl-10 px-3">
        <div class="row align-items-center g-lg-5 py-4">
          <div class="col-8 mx-auto">
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col">병원</th>
                    <th scope="col">예약시간</th>
                    <th scope="col">증상</th>
                </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < loginfo.length; i ++) { %> 
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= loginfo[i].hospital %></td>
                            <td><%= loginfo[i].hour %> <%= loginfo[i].minute %></td>
                            <td><%= loginfo[i].symptom %></td>
                        </tr>
                    <% } %> 
                </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">김미진 제작, 오픈소스SW개발도구활용 기말과제</span>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>